@model ExsitecParonAB.Models.ProductTransaction

<h2>Radera Leverans</h2>

<h3>Är du säker på att du vill radera? Det kommer inte att kunna ogöras.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTransaction)
        </dd>

        <dt>
            Produktnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            Stad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            Antal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> 
        </div>
        <div>
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
